#logo{
    width: 8rem;
}

#myNav{
    background-color: rgba(0, 0, 0, 0.562) !important;
    height: 5rem!important;
    padding: .5rem 0!important;
}

#myContainerNB{
    margin-top: 0!important;
}

#collasible-nav-dropdown{
    color: #ffc107
}

#collasible-nav-dropdown:hover{
    color: white;
}
