#logo{
    width: 8rem;
}

#myNav{
    background-color: rgba(0, 0, 0, 0.562) !important;
    height: 5rem!important;
    padding: .5rem 5rem .5rem 2rem!important;
}

.myBtn::selection, .myBtn:hover{
    color: white!important;
}
